<div class="container-general">
  <h1 class="titulo">PRODUCTS</h1>
  <div class="paginacion-categorias">
    <a href="/?query=gorras">Gorras</a>
    <a href="/?query=zapatillas">Zapatillas</a>
    <a href="/?query=remeras">Remeras</a>
    <div class="sort">
      <p>Sort by Price</p>
      <div class="btn-sort">
        <a title="Ascendente" href="/?sort=asc"><i
            class="bi bi-caret-up-fill icono-price"
          ></i></a>
        <a title="Descendente" href="/?sort=desc"><i
            class="bi bi-caret-down-fill icono-price"
          ></i></a>
      </div>
    </div>
  </div>
  <div class="container-lista">
    {{#each listadeproductos}}
      <a href="/product/{{this._id}}">
        <div class="card">
          <div class="card-header">
            <div class="card-header-code">
              <i class="bi bi-tag"></i>
              Code:
              {{this.code}}
            </div>
            <div class="card-content">
              <div class="card-body">
                <h3 class="card-title">{{this.title}}</h3>
                <ul class="list-product">
                  <li class="price"><i class="bi bi-currency-dollar icono-price"></i>
                    {{this.price}}</li>
                </ul>
                <div class="container-img">
                  <img
                    src="{{this.thumbnail}}"
                    alt="{{this.title}}"
                    class="card-img"
                  />
                </div>
              </div>
            </div>
          </div>
        </a>
          <div class="btn-container">
            <button
                class="agregar-btn"
                type="submit"
                id="add-btn"
                onclick="agregarAlCarrito('{{this._id}}')"
                value="{{this._id}}"
              >Agregar al carrito
            </button>
          </div>
        </div>
    {{/each}}
  </div>
  <div class="paginacion">
    {{#if hasPrevPage}}
      <a title="Primera pagina" href="/?pagina=1"><i
          class="bi bi-arrow-bar-left icono-price"
        ></i></a>
    {{/if}}
    {{#if hasPrevPage}}
      <a title="Pagina anterior" href="/?pagina={{prevPage}}"><i
          class="bi bi-arrow-left icono-price"
        ></i></a>
    {{/if}}
    <p class="page">Pagina {{page}}</p>
    {{#if hasNextPage}}
      <a title="Pagina siguiente" href="/?pagina={{nextPage}}"><i
          class="bi bi-arrow-right icono-price"
        ></i></a>
    {{/if}}
    {{#if hasNextPage}}
      <a title="Ultima pagina" href="/?pagina={{totalPages}}"><i
          class="bi bi-arrow-bar-right icono-price"
        ></i></a>
    {{/if}}
  </div>
</div>

<script src="/js/home.js"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/toastify-js"></script>